@import "../css/impl-styles.scss";

@mixin hover($color) {
   background: $color;

   &.decorous-hover {
      background: lighten($color, 10%);
   }
}

@mixin color-hover($color) {
   button {
      color: lighten($color, 10%);
   }
}

.impl-button {
   display: inline-block;
   color: white;
   line-height: 1px;
   border: 1px solid #ecf0f1;

   &.textable {
      border: none;
   }

   &.color-default.hover {
      @include color-hover($default-color);
   }

   &.color-primary.hover {
      @include color-hover($primary-color);
   }

   &.color-success.hover {
      @include color-hover($success-color);
   }

   &.color-warning.hover {
      @include color-hover($warning-color);
   }

   &.color-danger.hover {
     @include color-hover($danger-color);
   }

   &.decorous {
      border: none;

      button {
         color: white;
      }

      &.color-primary {
         @include hover($primary-color)
      }

      &.color-success {
         @include hover($success-color)
      }

      &.color-danger {
         @include hover($danger-color)
      }

      &.color-warning {
         @include hover($warning-color)
      }
   }

   button {
      background-color: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &:focus {
         outline: none;
      }

      &:disabled {
         cursor: not-allowed;
         color: $disabled-color;
      }
   }
}