@import "../css/impl-styles.scss";

.impl-button {
   display: inline-block;
   color: white;

   &.size-normal {
      min-width: 60px;
      height: $size-normal-height;
   }

   &.light {
      border: 1px solid #ecf0f1;
   }

   &.color-primary {
      background: $primary-color;

      &.hover {
         background: lighten($primary-color, 8%);
      }

      &.light {
         background-color: transparent;
         color: $primary-color;

         &-hover {
            color: lighten($primary-color, 8%);
         }
      }
   }

   &.color-secondary {
      background: $secondary-color;

      &.hover {
         background: lighten($secondary-color, 8%);
      }

      &.light {
         background-color: transparent;
         color: $secondary-color;

         &-hover {
            color: lighten($secondary-color, 8%);
         }
      }
   }

   &.color-success {
      background: $success-color;

      &.hover {
         background: lighten($success-color, 8%);
      }

      &.light {
         background-color: transparent;
         color: $success-color;

         &-hover {
            color: lighten($success-color, 8%);
         }
      }
   }

   &.color-danger {
      background: $danger-color;

      &.hover {
         background: lighten($danger-color, 8%);
      }

      &.light {
         background-color: transparent;
         color: $danger-color;

         &-hover {
            color: lighten($danger-color, 8%);
         }
      }
   }

   &.color-warning {
      background: $warning-color;

      &.hover {
         background: lighten($warning-color, 10%);
      }

      &.light {
         background-color: transparent;
         color: $warning-color;

         &-hover {
            color: lighten($warning-color, 8%);
         }
      }
   }

   button {
      background-color: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;

      &:focus {
         outline: none;
      }

      &:disabled {
         cursor: not-allowed;
         color: #bdc3c7;
      }
   }
}